[Desktop Entry]
Version=1.0
Name=Telegram Desktop
GenericName=Telegram Desktop
Keywords=IM;Chat;
Comment=Official desktop version of Telegram messaging app
Exec=/usr/bin/telegram-desktop -- %u
Icon=telegram-desktop
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
